@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 /* ********* ROOT *********** */
 :root{
    --primary-color:#016450;
    --dark-green:#023020;
    --words-shadow:#2e5722;
    --secondary-color: #ffcf60;
    --accent-color:#9c161f;
    --supporting-color:#fff;
    --shadow-color: #000;
    --font-style:'Open Sans', sans-serif;
    --element-shadow:drop-shadow(2px 2px 20px #000000);
    --vignette-shadow: 0 0 200px var(--dark-green) inset;
    --text-border:drop-shadow(1px 3px 2px #000000);
    --element-border:drop-shadow(1px 1px 4px #000000);
    --main-background: linear-gradient(rgba(3, 83, 67, 0.825), rgba(3, 83, 67, 0.825)), url(../Index-Image/index-main-bg.jpg);
    --sub-background: linear-gradient(rgb(255, 207, 96, 0.85), rgb(255, 207, 96, 0.90)), url(../Index-Image/index-main-bg.jpg);
    --page-break-background: url(../Index-Image/Page-break-two.png);

    --benefit-one: linear-gradient(rgba(3, 83, 67, 0.625), rgba(3, 83, 67, 0.625)), url(../Index-Image/index-benefit-one-img.jpg);

    --benefit-two: linear-gradient(rgba(3, 83, 67, 0.625), rgba(3, 83, 67, 0.625)), url(../Index-Image/index-benefit-two-img.jpg);

    --benefit-three: linear-gradient(rgba(3, 83, 67, 0.625), rgba(3, 83, 67, 0.625)), url(../Index-Image/index-benefit-three-img.jpg);

    --benefit-four: linear-gradient(rgba(3, 83, 67, 0.625), rgba(3, 83, 67, 0.625)), url(../Index-Image/index-benefit-four-img.jpg);
}


::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background: var(--accent-color);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color);
}

::-webkit-scrollbar-track{
    background: var(--supporting-color);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-style);
    user-select: none;
}
 /* FOOTER */

 .footer{
    width: 100%;
    height: 80vh;
    background-image:url(../Index-Image/FOOTER-BG.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer-content-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 10;
    color: #9c161f;
}

.footer-content-container h1{
    font-size: 1.5rem;
    width: 100%;
    line-height: 5rem;
    font-weight: 700;
}

.footer-content-container p, .footer-content-container a{
    width: 100%;
    line-height: 1.5rem;
    color: #023020;
    font-weight: 600;
    text-decoration: none;
 }

.left-footer{
    grid-row: 1/2;
    grid-column: 1/2;
    place-self: center;
 }

 .external-icons{
    display: flex;
    width: 90%;
    height: 10vh;
    gap: 1rem;
}

.external-icons a, .webdev-logos a{
    width: 100%;
    height: 100%;
}
.external-icons a:nth-child(1){
    background-image: url(../Index-Image/Food-Panda-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
}

.external-icons a:nth-child(2){
    background-image: url(../Index-Image/Grab-Food-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
}

.external-icons a:nth-child(3){
    background-image: url(../Index-Image/Facebook-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
}

 .center-footer{
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center;
 }

 .center-footer input{
    margin-top: 5%;
    padding: 2%;
    width: 100%;
    color: #023020;
    border-radius: 50px;
    border: solid #9c161f 2px;
 }

 .button {
    width: 100%;
    height: 35px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #016450;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 62%;
    left: 0.1em;
    margin-top: 1%;
    }
  .button:hover {
    background-color: #fff0;
    box-shadow: 0px 5px 15  px #9c161f;
    color: #023020;
    border: 1px solid #023020;
  }

.right-footer{
    grid-row: 1/2;
    grid-column: 3/4;
    place-self: center;
 }

 .right-footer div{
    margin-top: 5%;
 }

 .webdev-logos{
    display: flex;
    width: 100%;
    height: 15vh;
    gap: 1rem;
}

 .webdev-logos a:nth-child(1){
    background-image: url(../Index-Image/Google-Font-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
}

.webdev-logos a:nth-child(2){
    background-image: url(../Index-Image/Ionic-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
}

.webdev-logos a:nth-child(3){
    background-image: url(../Index-Image/Canva-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
}

.webdev-logos a:nth-child(4){
    background-image: url(../Index-Image/Photoshop-Footer.png);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
}

.webdev-logos a:hover ,.external-icons a:hover{ 
    transform: scale(1.05);
}

.right-footer a:hover{ 
    font-size: 1.2rem;
    transition: 200ms;
    background-color: #016450;
    color: #ffcf60;
    padding: 0 5% 0 5%;
}

.page-break{
    position: relative;
    background-image: var(--page-break-background);
    background-size:cover;
    background-position: center;
    height: 8vh;
    width: 100%;
    z-index: 500;
}

/* TERMS AND CONDITIONS STYLES */

.terms-and-conditions{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 83, 67, 0.825), rgba(3, 83, 67, 0.825)), url(../Index-Image/index-main-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.tandc-content{
    width: 80%;
    height: 60vh;
    background-color: #fff;
    overflow-y: scroll;
    border: solid 10px #023020 ;
    border-radius: 10px;
    filter:drop-shadow(2px 2px 5px #000);
    color: #016450;
    text-align: justify;
    padding: 1%;
}

.terms-and-conditions h1{
    font-size: calc(6vw + 32px);
    text-align: center;
}

.terms-and-conditions h6{
    font-size: calc(4vw + 22px);
    text-align: center;
}

.tandc-content h4{
    font-size: calc(2vw + 15px);
    line-height: 2;
    color: #ffcf60;
}

.tandc-content p{
    font-size: calc(1.5vw + 10px);
    text-indent: 5vw;
    line-height: 1.2;
    color: #016450;
}

@media (max-width: 1400px) and (min-width: 1150px) {
    .external-icons {
        width: 85%;
        height: 9vh;
    }

    .footer-content-container p, .footer-content-container a {
        line-height: 1rem;
    }

    .center-footer {
        margin-top: 2em;
    }
}

@media (max-width: 1025px) and (min-width: 889px) {
    .footer {
        height: 60vh;
    }

    .footer-content-container {
        height: auto;
    }

    .footer-content-container h1 {
        line-height: 1rem;
        font-size: 1.2rem;
    }

    .footer-content-container p,
    .footer-content-container a {
        line-height: normal;
        font-size: .9rem;
    }
}

@media all and (max-width: 888px) and (min-width: 769px) {
    .footer {
        height: 70vh;
    }

    .footer-content-container{
        height: auto;
        padding: 1em;
        gap: 1rem;
    }

    .footer-content-container h1{
        font-size: 1rem;
        line-height: normal;
    }

    .footer-content-container p, .footer-content-container a {
        line-height: normal;
        font-size: .9rem;
    }

    .external-icons {
        height: 3em;
        gap: 0;
    }
    
    .center-footer input::placeholder {
        font-size: .9rem;
        text-align: center;
    }

    .button {
        margin-top: 1em;
    }
    
    .right-footer a:hover {
        font-size: 1rem;
        border-radius: 60px;
    }

}

@media (max-width:768px) and (min-width: 700px) {
    .footer {
        height: 70vh;
    }

    .footer-content-container{
        height: auto;
        padding: 1em;
        gap: 1rem;
    }

    .footer-content-container h1{
        font-size: 1rem;
        line-height: normal;
    }

    .footer-content-container p, .footer-content-container a {
        line-height: normal;
        font-size: .9rem;
    }

    .external-icons {
        height: 3em;
        gap: 0;
    }
    
    .center-footer input::placeholder {
        font-size: .8rem;
        text-align: center;
    }

    .button {
        margin-top: 1em;
    }

    .right-footer a:hover {
        font-size: 1rem;
        border-radius: 60px;
    }

    .webdev-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: .5rem;
    }
}

@media (max-width: 699px) {
    .footer{
        background: #ffcf60;
        height: 100vh;
        overflow: hidden;
    }

    .footer-content-container{
        position: absolute;
        transform: translateY(0%);
        width: 100%;
        height: 100vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        background: #ffcf60;
        grid-row-gap: 1rem;
    }

    .footer-content-container h1 {
        line-height: normal;
        margin-top: .5em;
    }

    .footer-content-container p {
        line-height: 15px;
    }

    .left-footer{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .external-icons {
        gap: .5rem;
        width: 100%;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }

    .external-icons a:nth-child(1),
    .external-icons a:nth-child(2), 
    .external-icons a:nth-child(3) {
        background-size: contain;
        background-position: center;
    }

    .center-footer{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .center-footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-footer{
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0 5% 0 5%;
    }

    .footer-content-container h1, .footer-content-container p,
    .footer-content-container a{
        text-align: center;
    }

    .center-footer p{
        padding: 0 12% 0 12%;
        width: fit-content;
    }

    .center-footer input{
        width: 80%;
    }

    .button {
        position: relative;
        right: 0;
        width:80%;
        margin-top: 1%;
    }
    
    .webdev-logos {
        margin-bottom: 2em;
        gap: 1rem;
        padding: 0;
        height: 10vh;
    }

    .webdev-logos a:hover { 
        transform: scale(.9);
    }

    .right-footer {
        align-items: center;
        justify-content: center;
    }

    .right-footer a:hover{ 
        font-size: 1.2rem;
        transition: 200ms;
        background-color: #016450;
        color: #ffcf60;
        padding: 0 5px 0 5px;
    }
}

/* @media all and (max-width:321px){
    .footer-content-container{
        transform: translateY(-40%);
    }
} */

